@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --primary: 24 9.8% 10%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --ring: 20 14.3% 4.1%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 21% 15%;
    --foreground: 226 64% 88%;
    --muted: 240 12% 19%;
    --muted-foreground: 240 12% 69%;
    --popover: 240 21% 12%;
    --popover-foreground: 226 64% 98%;
    --card: 240 21% 13%;
    --card-foreground: 226 64% 93%;
    --border: 240 11% 20%;
    --input: 240 11% 23%;
    --primary: 267 84% 81%;
    --primary-foreground: 267 84% 21%;
    --secondary: 267 30% 25%;
    --secondary-foreground: 267 30% 85%;
    --accent: 240 21% 30%;
    --accent-foreground: 240 21% 90%;
    --destructive: 8 96% 56%;
    --destructive-foreground: 0 0% 100%;
    --ring: 267 84% 81%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
